<!doctype html>
<html lang="zh-cmn-Hans">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
div > img {
  max-height: 80%;
  max-width: 80%;
}
</style>
</head>
<body>
  <p th:text="${data.evn}"></p>
  <p th:text="${data.evd}"></p>
  <a href="add-agenda">加入这个活动</a>
  <p>补充</p>
  <div th:each="attachment,iterStat : ${data.attachments}">
    <a th:if="${!#strings.isEmpty(attachment.fjurl)}" th:href="@{${#strings.replace(attachment.fjurl,'getSnapshot','getContent')}}"> 
      <img alt="" th:src="${attachment.fjurl}">
    </a>
    <p th:text="${attachment.fjn}"></p>
  </div>
  <a class="open-mwxing">打开 冥王星</a>
<script type="text/javascript">
var $as = document.querySelectorAll('a.open-mwxing');

if(navigator.userAgent.match(/(iPhone|iPod|iPad);?/i)) {
  document.write("iOS");
//  window.location.href = "itms-apps://itunes.apple.com/cn/app/海约/id1265041589?mt=8"; //ios app协议
//  window.setTimeout(function() {
//      window.location.href = "https://***";
//  }, 2000);
} else if(navigator.userAgent.match(/android/i)) {
  document.write("Android");
  $as[0].addEventListener('touchend', function() {
    window.location.href = "cn.sh.com.xj.timeApp://app"; //android app协议
//  window.setTimeout(function() {
//  window.location.href = "https://fir.im/d2z3"; //android 下载地址
//}, 2000);
  }
} else {
  document.write(navigator.userAgent);
}

//避免touchmove事件影响touchend
stopTouchendPropagationAfterScroll();

function stopTouchendPropagationAfterScroll() {
    var flag = false;
    window.addEventListener('touchmove', function(ev) {
        flag || (flag = true, window.addEventListener('touchend', stopTouchendPropagation, true));
    }, false);

    function stopTouchendPropagation(ev) {
        ev.stopPropagation();
        setTimeout(function() {
            window.removeEventListener('touchend', stopTouchendPropagation, true);
            flag = false;
        }, 50);
    }
}
</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>